

.services {
    max-height: 600px;
    overflow-y: auto;
}

.services .service {
    position: relative;
    z-index: 2;
    vertical-align: top;
    color: #000;
    padding: 4px 0;
    border-radius: 2px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    cursor: pointer;
    transition: background-color .25s linear;
    transform: translateZ(0)
}

.service-link {
    color:initial;
    display: block;
    padding:  10px 35px 10px 15px;
    text-decoration: none;
}

.service-link:focus,.services .service-link:hover {
    text-decoration: none
}

.calling-points .calling-point {
    list-style: none;
    padding: .25em 0;
    min-height: 3em;
    position: relative
}


.service-disruptions .is-first:before {
    content: 'LATEST';
    background: #fc5a63;
    color: #fff;
    padding: 2px;
    font-size: 70%;
    margin-right: 5px;
    vertical-align: middle
}

.service-disruptions .list-unstyled {
    margin-bottom: 0
}

.contents {
    z-index: 3
}

.contents .content {
    position: relative;
    margin-bottom: 100px;
    height: auto
}

.operator {
    color: #8c9190
}



